body{
    background-color: rgb(3, 156, 156);

}






.title{
    color: rgb(255, 255, 255);
    font-size: 75px;
    background-color: rgb(3, 160, 160);
    text-align: center;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    
}

img{
    float:left;
}

.paragraph{
    color: black;
    font-size: 50px;
    background-color: rgb(9, 238, 238);
    text-align: center;
    border: 3px solid black;
    height: 426px;
}
